<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/nav.css">
    <title>Admin | Kategóriakezelés</title>
</head>
<body>
<nav>
    <ul>
        <li><a th:href="@{/}">Felhasználói főoldal</a></li>
        <li><a th:href="@{/admin/users}">Felhasználókezelés</a></li>
        <li><a th:href="@{/admin/pictures}">Fényképkezelés</a></li>
        <li><a th:href="@{/admin/albums}">Albumkezelés</a></li>
        <li><a th:href="@{/admin/categories}">Kategóriakezelés</a></li>
        <li><a th:href="@{/admin/places}">Helykezelés</a></li>
    </ul>
</nav>

<table>
    <tr>
        <th>Cím</th>
        <th>Leírás</th>
        <th>Törlés</th>
    </tr>
    <tr th:each="category: ${categories}">
        <td th:text="${category.getCategoryDesignation()}"></td>
        <td th:text="${category.getCategoryDescription()}"></td>
        <td><a th:href="'/admin/categories/delete/'+${category.getCategoryID()}">Törlés</a></td>
    </tr>
</table>
</body>
</html>