<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/nav.css">
    <title>Admin | Képkezelés</title>
</head>
<body>

<nav>
    <ul>
        <li><a th:href="@{/}">Felhasználói főoldal</a></li>
        <li><a th:href="@{/admin/users}">Felhasználókezelés</a></li>
        <li><a th:href="@{/admin/pictures}">Fényképkezelés</a></li>
        <li><a th:href="@{/admin/albums}">Albumkezelés</a></li>
        <li><a th:href="@{/admin/categories}">Kategóriakezelés</a></li>
        <li><a th:href="@{/admin/places}">Helykezelés</a></li>
        <li><a th:href="@{/admin/statistics}">Statisztikák</a></li>
    </ul>
</nav>

<table>
    <tr>
        <th>Cím</th>
        <th>Leírás</th>
        <th>Felhasználó</th>
        <th>Fájlnév</th>
        <th>Törlés</th>
    </tr>
    <tr th:each="picture: ${pictures}">
        <td th:text="${picture.getPictureTitle()}"></td>
        <td th:text="${picture.getPictureDescription()}"></td>
        <td th:text="${picture.getEmail()}"></td>
        <td th:text="${picture.getFilepath()}"></td>
        <td><a th:href="'/admin/pictures/delete/'+${picture.getPictureID()}">Törlés</a></td>
    </tr>
</table>
</body>
</html>