<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/nav.css">
    <title>Admin | Helykezelés</title>
</head>
<body>



<nav>
    <ul>
        <li><a th:href="@{/}">Felhasználói főoldal</a></li>
        <li><a th:href="@{/admin/users}">Felhasználókezelés</a></li>
        <li><a th:href="@{/admin/pictures}">Fényképkezelés</a></li>
        <li><a th:href="@{/admin/albums}">Albumkezelés</a></li>
        <li><a th:href="@{/admin/categories}">Kategóriakezelés</a></li>
        <li><a th:href="@{/admin/places}">Helykezelés</a></li>
    </ul>
</nav>
<div th:if="${param.msg}" th:text="${param.msg}"></div>
<table>
    <tr>
        <th>Ország</th>
        <th>Megye</th>
        <th>Város</th>
        <th>Település</th>
        <th>Törlés</th>
    </tr>
    <tr th:each="place: ${places}">
        <td th:text="${place.getCountry()}"></td>
        <td th:text="${place.getCounty()}"></td>
        <td th:text="${place.getCity()}"></td>
        <td th:text="${place.getSettlement()}"></td>
        <td><a th:href="'/admin/places/delete/'+${place.getPlaceID()}">Törlés</a></td>
    </tr>
</table>
</body>
</html>