<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/nav.css">
    <title>Albumjaim</title>
</head>
<body>
<nav th:insert="nav.html"></nav>

<table>
    <tr>
        <th>Albumnév</th>
        <th>Létrehozás dátuma</th>
        <th>Törlés</th>
    </tr>
    <tr th:each="album: ${userAlbums}">
        <td><a th:href="'/user/album/'+${album.getAlbumID()}" th:text="${album.getTitle()}"></a></td>
        <td th:text="${album.getCreateDate()}"></td>
        <td>
            <a th:href="'/album/delete/'+${album.getAlbumID()}">
              Törlés
            </a>
        </td>
    </tr>
</table>
</body>
</html>