<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/nav.css">
    <link rel="stylesheet" type="text/css" href="/css/general.css">
    <title>Create Album</title>
</head>
<div th:if="${param.msg}">
    <p th:text="${param.msg}"></p>
</div>
<nav th:insert="nav.html"></nav>
<br>

<h1>Album létrehozása</h1>

<div class="container">
<form th:action="@{/Albums/Upload}" th:object="${albumModel}" method="post">
    Cím: <input type="text" th:field="*{title}"><br>
    <div><input type="submit" value="Create"/></div>
</form>
</div>
</body>
</html>