<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/nav.css">
    <link rel="stylesheet" type="text/css" href="/css/image_gallery.css">
    <title>Gallery</title>
</head>

<style>
    a{
        display: block;
    }
</style>
<body>
<nav th:insert="nav.html"></nav>
<br>

<h1>Galéria</h1>

<div id="wrapper">
    <div th:each="picture : ${pictures}" class="picture">
        <a th:href="'/gallery/'+(${picture.getPictureID()})">
            <img th:src="'/imgs/'+(${picture.getFilepath()})" th:alt="${picture.getPictureTitle()}">
        </a>
    </div>
</div>

</body>
</html>