<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image Upload</title>
    <link rel="stylesheet" type="text/css" href="/css/nav.css">
</head>

<div th:if="${param.msg}">
    <p th:text="${param.msg}"></p>
</div>
<body>
<nav>
    <ul>
        <li><a th:href="@{/}">Kezdőlap</a></li>
        <ul class="dropdown">
            <li><a th:href="@{/gallery}" class="drop">Galéria</a>
                <ul class="dropdown-content">
                    <li><a th:href="@{/gallery/pictureForm}">Kép feltöltés</a></li>
                </ul>
            </li>
        </ul>
        <li><a th:href="@{/places/newPlace}">Helyszín létrehozása</a></li>
        <li><a th:href="@{/category/Upload}">Kategória létrehozása</a></li>
        <li><a th:href="@{/Albums/album}">Album létrehozása</a></li>
        <li><a th:href="@{/profile/update}">Profil módosítása</a></li>
        <li><a href="/logout">Kijelentkezés</a></li>
    </ul>
</nav>
    <br>

<h1>Kép feltöltés</h1>
    <form th:action="@{/gallery/upload}" th:object="${uploadModel}" method="post" enctype="multipart/form-data">
        Cím: <input type="text" th:field="*{title}"><br>
        Leírás: <textarea th:field="*{description}"></textarea><br>
        Helyszín: <select th:field="*{placeID}"><br>
        <option th:each="place : ${places}" th:value="${place.getPlaceID()}" th:text="${place}"></option>
        </select><br>
        <input type="file" th:field="*{file}"><br>
        <input type="submit" value="Upload">
    </form>
</body>
</html>