<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image Upload</title>
    <link rel="stylesheet" type="text/css" href="../static/css/nav.css"/>
</head>

<div th:if="${param.msg}">
    <p th:text="${param.msg}"></p>
</div>
<body>
    <ul>
        <li><a th:href="@{/}">index</a></li>
        <li><a th:href="@{/gallery/pictureForm}">Képfeltöltés</a></li>
        <li><a th:href="@{/places/newPlace}">Helyszín generálás</a></li>
        <li><a th:href="@{/category}">Kategória létrehozás</a></li>
        <li><a th:href="@{/gallery}"> Galéria </a> </li>
        <li><a th:href="@{/Albums/album}">Album létrehozása</a></li>
    </ul>
    <br>
    <form th:action="@{/gallery/upload}" th:object="${uploadModel}" method="post" enctype="multipart/form-data">
        Title: <input type="text" th:field="*{title}"><br>
        Description: <textarea th:field="*{description}"></textarea><br>
        Place: <select th:field="*{placeID}"><br>
        <option th:each="place : ${places}" th:value="${place.getPlaceID()}" th:text="${place}"></option>
        </select><br>
        File: <input type="file" th:field="*{file}"><br>
        <input type="submit" value="Upload">
    </form>
</body>
</html>