<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/nav.css">
    <link rel="stylesheet" type="text/css" href="/css/general.css">
    <title>Place Create</title>
</head>
<div th:if="${param.msg}">
    <p th:text="${param.msg}"></p>
</div>
<nav th:insert="nav.html"></nav>
    <br>
<h1>Helyszín létrehozása</h1>

<div class="container">
<form th:action="@{/places/upload}" th:object="${placeModel}" method="post" enctype="multipart/form-data">
    Ország: <input type="text" th:field="*{country}"><br>
    Megye: <input type="text" th:field="*{county}"><br>
    Város: <input type="text" th:field="*{city}"><br>
    Település: <input type="text" th:field="*{settlement}"><br>
    <input type="submit" value="Create">
</form>
</div>
</body>
</html>