<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Place Create</title>
</head>
<div th:if="${param.msg}">
    <p th:text="${param.msg}"></p>
</div>
<body>
    <ul>
        <li><a th:href="@{/}">index</a></li>
        <li><a th:href="@{/gallery/pictureForm}">Képfeltöltés</a></li>
        <li><a th:href="@{/places/newPlace}">Helyszín generálás</a></li>
        <li><a th:href="@{/category}">Kategória létrehozás</a></li>
        <li><a th:href="@{/gallery}"> Galéria </a> </li>
        <li><a th:href="@{/Albums/album}">Album létrehozása</a></li>
    </ul>
    <br>

<form th:action="@{/places/upload}" th:object="${placeModel}" method="post" enctype="multipart/form-data">
    Country: <input type="text" th:field="*{country}"><br>
    County: <input type="text" th:field="*{county}"><br>
    City: <input type="text" th:field="*{city}"><br>
    Settlement: <input type="text" th:field="*{settlement}"><br>
    <input type="submit" value="Create">
</form>
</body>
</html>