<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/nav.css">
    <link rel="stylesheet" type="text/css" href="/css/general.css">
    <title>Place Create</title>
</head>
<div th:if="${param.msg}">
    <p th:text="${param.msg}"></p>
</div>
<nav>
    <ul>
        <li><a th:href="@{/}">Kezdőlap</a></li>
        <ul class="dropdown">
            <li><a th:href="@{/gallery}" class="drop">Galéria</a>
                <ul class="dropdown-content">
                    <li><a th:href="@{/gallery/pictureForm}">Kép feltöltés</a></li>
                </ul>
            </li>
        </ul>
        <li><a th:href="@{/places/newPlace}">Helyszín létrehozása</a></li>
        <li><a th:href="@{/category/Upload}">Kategória létrehozása</a></li>
        <li><a th:href="@{/Albums/album}">Album létrehozása</a></li>
        <li><a th:href="@{/profile/update}">Profil módosítása</a></li>
        <li><a href="/logout">Kijelentkezés</a></li>
    </ul>
</nav>
    <br>
<h1>Helyszín létrehozása</h1>

<div class="container">
<form th:action="@{/places/upload}" th:object="${placeModel}" method="post" enctype="multipart/form-data">
    Ország: <input type="text" th:field="*{country}"><br>
    Megye: <input type="text" th:field="*{county}"><br>
    Város: <input type="text" th:field="*{city}"><br>
    Település: <input type="text" th:field="*{settlement}"><br>
    <input type="submit" value="Create">
</form>
</div>
</body>
</html>