<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/nav.css">
    <title>Profile | Update</title>
</head>
<body>

<nav>
    <ul>
        <li><a th:href="@{/}">Kezdőlap</a></li>
        <ul class="dropdown">
            <li><a th:href="@{/gallery}" class="drop">Galéria</a>
                <ul class="dropdown-content">
                    <li><a th:href="@{/gallery/pictureForm}">Kép feltöltés</a></li>
                </ul>
            </li>
        </ul>
        <li><a th:href="@{/places/newPlace}">Helyszín létrehozása</a></li>
        <li><a th:href="@{/category/Upload}">Kategória létrehozása</a></li>
        <li><a th:href="@{/Albums/album}">Album létrehozása</a></li>
        <li><a th:href="@{/profile/update}">Profil módosítása</a></li>
        <li><a href="/logout">Kijelentkezés</a></li>
    </ul>
</nav>
<br>

<h1>Adatok szerkesztése</h1>

<form th:action="@{/profile/update}" th:object="${userDetails}" method="post">
    Email: <input type="text" th:field="*{email}" readonly><br>
    Teljes név: <input type="text" th:field="*{fullName}"><br>
    Nickname: <input type="text" th:field="*{nickname}" readonly><br>
    Új jelszó: <input type="password" th:field="*{pwd}"><br>
    Új jelszó újra: <input type="password" th:field="*{pwdAgain}"><br>
    Lakhely: <select th:field="*{placeID}">
    <option th:each="place: ${places}"  th:value="${place.getPlaceID()}" th:text="${place}"></option>
</select>
    <input type="submit" value="Módosít">
</form>
</body>
</html>