<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/nav.css">
    <link rel="stylesheet" type="text/css" href="/css/general.css">
    <title>Profile | Update</title>
</head>
<body>

<nav th:insert="nav.html"></nav>
<br>

<h1>Adatok szerkesztése</h1>

<div class="container">
<form th:action="@{/profile/update}" th:object="${userDetails}" method="post">
    Email: <input type="text" th:field="*{email}" readonly><br>
    Teljes név: <input type="text" th:field="*{fullName}"><br>
    Nickname: <input type="text" th:field="*{nickname}" readonly><br>
    Új jelszó: <input type="password" th:field="*{pwd}"><br>
    Új jelszó újra: <input type="password" th:field="*{pwdAgain}"><br>
    Lakhely: <select th:field="*{placeID}">
    <option th:each="place: ${places}"  th:value="${place.getPlaceID()}" th:text="${place}"></option>
</select>
    <input type="submit" value="Módosít">
</form>
</div>
</body>
</html>