<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/nav.css">
    <title>Fényképnézegető</title>
</head>
<body>

<nav>
    <ul>
        <li><a th:href="@{/}">Kezdőlap</a></li>
        <ul class="dropdown">
            <li><a th:href="@{/gallery}" class="drop">Galéria</a>
                <ul class="dropdown-content">
                    <li><a th:href="@{/gallery/pictureForm}">Kép feltöltés</a></li>
                </ul>
            </li>
        </ul>
        <li><a th:href="@{/places/newPlace}">Helyszín létrehozása</a></li>
        <li><a th:href="@{/category/Upload}">Kategória létrehozása</a></li>
        <li><a th:href="@{/Albums/album}">Album létrehozása</a></li>
        <li><a th:href="@{/profile/update}">Profil módosítása</a></li>
        <li><a href="/logout">Kijelentkezés</a></li>
    </ul>
</nav>
<br>

<div>
    <img th:src="'/imgs/'+(${picture.getFilepath()})" alt=""><br>
    <span th:text="${picture.getPictureTitle()}"></span><br>
    <span th:text="${picture.getPictureDescription()}"></span><br>
</div>
<br>

<div>
    <form th:action="@{/albums/addPicture}" th:object="${albumPicture}" method="post">
        <input type="hidden" th:value="${picture.getPictureID()}" th:attr="name='pictureID'">
        <select th:field="*{albumID}">
            <option th:each="album: ${albums}" th:value="${album.getAlbumID()}" th:text="${album.getTitle()}"></option>
        </select>
        <input type="submit" value="Kép felvétele az albumba">
    </form>
</div>

<div class="comments">
    <span th:each="comment: ${comments}">
        <p th:text="${comment.getEmail()}"></p>
        <p th:text="${comment.getContent()}"></p>
        <p th:text="${comment.getTimeStamp()}"></p>
    </span>
</div>
<form th:action="@{/comment/save}" th:object="${newComment}" method="post">
    <input type="hidden" th:value="${picture.getPictureID()}" th:attr="name='pictureID'">
    <input type="text" th:field="*{content}">
    <input type="submit" value="Küld">
</form>
</body>
</html>